<p>expense-edit works!</p>

<div class="panel panel-default">
  <div class="panel-body">
    <form id="expense-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="date">Date</label>
          <input type="date" name="date" id="date" [ngModel] />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <span class="expenditure-heading"> Expenditure </span>
        </div>
        <div class="col-md-4">
          <span class="Amount Heading"> Amount </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 form-group">
          <input
            type="text"
            class="
              expense-input
              col-md-10
              border-top-0 border-end-0 border-start-0
            "
            placeholder="Expenditure"
            name="expenditure1"
            [ngModel]
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="
              expense-input
              cost
              col-sm-6
              border-top-0 border-end-0 border-start-0
            "
            name="cost1"
            placeholder="cost $"
            [(ngModel)]="cost.cost1"
            (input)="calTotal()"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <input
            type="text"
            class="
              expense-input
              col-md-10
              border-top-0 border-end-0 border-start-0
            "
            placeholder="Expenditure"
            name="expenditure2"
            [ngModel]
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="
              expense-input
              cost
              col-sm-6
              border-top-0 border-end-0 border-start-0
            "
            placeholder="cost $"
            name="cost2"
            [(ngModel)]="cost.cost2"
            (input)="calTotal()"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <input
            type="text"
            class="
              expense-input
              col-md-10
              border-top-0 border-end-0 border-start-0
            "
            placeholder="Expenditure"
            name="expenditure3"
            [ngModel]
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="
              expense-input
              cost
              col-sm-6
              border-top-0 border-end-0 border-start-0
            "
            placeholder="cost $"
            name="cost3"
            [(ngModel)]="cost.cost3"
            (input)="calTotal()"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <input
            type="text"
            class="
              expense-input
              col-md-10
              border-top-0 border-end-0 border-start-0
            "
            placeholder="Expenditure"
            name="expenditure4"
            [ngModel]
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="
              expense-input
              cost
              col-sm-6
              border-top-0 border-end-0 border-start-0
            "
            placeholder="cost $"
            name="cost4"
            [(ngModel)]="cost.cost4"
            (input)="calTotal()"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <input
            type="text"
            class="
              expense-input
              col-md-10
              border-top-0 border-end-0 border-start-0
            "
            placeholder="Expenditure"
            name="expenditure5"
            [ngModel]
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="
              expense-input
              cost
              col-sm-6
              border-top-0 border-end-0 border-start-0
            "
            placeholder="cost $"
            name="cost5"
            [(ngModel)]="cost.cost5"
            (input)="calTotal()"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <span>Total</span>
        </div>
        <div class="col-md-4">
          <input
            class="
              expense-input
              col-sm-6
              border border-end-0 border-start-0 border-width-4
            "
            type="text"
            name="total"
            id="total"
            [ngModel]="total"
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group"></div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <label for="example-ngModel">[(ngModel)]:</label>
      <input [(ngModel)]="currentItem.name" name="test" id="example-ngModel" />
      <input [ngModel]="currentItem.name" name="test2" id="example-ngModel" />
    </form>
    <custom-input-component
      ngDefaultControl
      [(ngModel)]="currentItem.name"
    ></custom-input-component>
    <p>{{ cost.cost1 }}</p>
  </div>
</div>
