.expense-input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.cost {
  size: inherit;
}

.cost-container {
  padding: none;
  margin: none;
}

.date-input {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  margin-left: 5px;
}
input-total {
  border-bottom: double 5px solid black;
}
