<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid nav-contents">
    <a class="navbar-brand" routerLink="/expense">Expense Tracker</a>

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/expense"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expense/new"
            >Create New Expenditure</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
